In [3]:
import numpy as np
import pandas as pd

In [4]:
books = pd.read_csv('books.csv')
users = pd.read_csv('users.csv')
ratings = pd.read_csv('ratings.csv')

C:\Users\User\AppData\Local\Temp\ipykernel_6536\3819754567.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv('books.csv')

In [5]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [6]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [7]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [8]:
print(books.shape)
print(users.shape)
print(ratings.shape)

(271360, 8)
(278858, 3)
(1149780, 3)

In [9]:
books.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            2
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [10]:
users.isnull().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [11]:
ratings.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

Popularity Based Recommender System

In [12]:
ratings_with_name = ratings.merge(books, on='ISBN')

In [13]:
num_rating_df = ratings_with_name.groupby('Book-Title').count()['Book-Rating'].reset_index()
num_rating_df.rename(columns={'Book-Rating':'num_ratings'},inplace=True)
num_rating_df

                                               Book-Title  num_ratings
0        A Light in the Storm: The Civil War Diary of ...            4
1                                   Always Have Popsicles            1
2                    Apple Magic (The Collector's series)            1
3        Ask Lily (Young Women of Faith: Lily Series, ...            1
4        Beyond IBM: Leadership Marketing and Finance ...            1
...                                                   ...          ...
241066                                      Ã?Â?lpiraten.            2
241067                     Ã?Â?rger mit Produkt X. Roman.            4
241068                                Ã?Â?sterlich leben.            1
241069                              Ã?Â?stlich der Berge.            3
241070                                  Ã?Â?thique en toc            2

[241071 rows x 2 columns]

In [14]:
avg_rating_df = ratings_with_name.groupby('Book-Title')[['Book-Rating']].mean()
avg_rating_df.rename(columns={'Book-Rating':'avg_rating'},inplace=True)
avg_rating_df

                                                    avg_rating
Book-Title
 A Light in the Storm: The Civil War Diary of A...    2.250000
 Always Have Popsicles                                0.000000
 Apple Magic (The Collector's series)                 0.000000
 Ask Lily (Young Women of Faith: Lily Series, B...    8.000000
 Beyond IBM: Leadership Marketing and Finance f...    0.000000
...                                                        ...
Ã?Â?lpiraten.                                         0.000000
Ã?Â?rger mit Produkt X. Roman.                        5.250000
Ã?Â?sterlich leben.                                   7.000000
Ã?Â?stlich der Berge.                                 2.666667
Ã?Â?thique en toc                                     4.000000

[241071 rows x 1 columns]

In [15]:
popular_df = num_rating_df.merge(avg_rating_df,on='Book-Title')
popular_df

,Book-Title,num_ratings,avg_rating
0,A Light in the Storm: The Civil War Diary of ...,4,2.250000
1,Always Have Popsicles,1,0.000000
2,Apple Magic (The Collector's series),1,0.000000
3,"Ask Lily (Young Women of Faith: Lily Series, ...",1,8.000000
4,Beyond IBM: Leadership Marketing and Finance ...,1,0.000000
...,...,...,...
241066,Ã?Â?lpiraten.,2,0.000000
241067,Ã?Â?rger mit Produkt X. Roman.,4,5.250000
241068,Ã?Â?sterlich leben.,1,7.000000
241069,Ã?Â?stlich der Berge.,3,2.666667
241070,Ã?Â?thique en toc,2,4.000000

In [16]:
popular_df = popular_df[popular_df['num_ratings']>=250].sort_values('avg_rating',ascending=False).head(50)

In [17]:
popular_df = popular_df.round({"avg_rating": 2})

In [18]:
popular_df = popular_df.merge(books,on='Book-Title').drop_duplicates('Book-Title')[['Book-Title','Book-Author','Image-URL-M','num_ratings','avg_rating']]

In [19]:
popular_books = popular_df.to_dict('index')

In [20]:
popular_books

{0: {'Book-Title': 'Harry Potter and the Prisoner of Azkaban (Book 3)',
  'Book-Author': 'J. K. Rowling',
  'Image-URL-M': 'http://images.amazon.com/images/P/0439136350.01.MZZZZZZZ.jpg',
  'num_ratings': 428,
  'avg_rating': 5.85},
 3: {'Book-Title': 'Harry Potter and the Goblet of Fire (Book 4)',
  'Book-Author': 'J. K. Rowling',
  'Image-URL-M': 'http://images.amazon.com/images/P/0439139597.01.MZZZZZZZ.jpg',
  'num_ratings': 387,
  'avg_rating': 5.82},
 5: {'Book-Title': "Harry Potter and the Sorcerer's Stone (Book 1)",
  'Book-Author': 'J. K. Rowling',
  'Image-URL-M': 'http://images.amazon.com/images/P/0590353403.01.MZZZZZZZ.jpg',
  'num_ratings': 278,
  'avg_rating': 5.74},
 9: {'Book-Title': 'Harry Potter and the Order of the Phoenix (Book 5)',
  'Book-Author': 'J. K. Rowling',
  'Image-URL-M': 'http://images.amazon.com/images/P/043935806X.01.MZZZZZZZ.jpg',
  'num_ratings': 347,
  'avg_rating': 5.5},
 13: {'Book-Title': 'Harry Potter and the Chamber of Secrets (Book 2)',
  'Book-Author': 'J. K. Rowling',
  'Image-URL-M': 'http://images.amazon.com/images/P/0439064872.01.MZZZZZZZ.jpg',
  'num_ratings': 556,
  'avg_rating': 5.18},
 16: {'Book-Title': 'The Hobbit : The Enchanting Prelude to The Lord of the Rings',
  'Book-Author': 'J.R.R. TOLKIEN',
  'Image-URL-M': 'http://images.amazon.com/images/P/0345339681.01.MZZZZZZZ.jpg',
  'num_ratings': 281,
  'avg_rating': 5.01},
 17: {'Book-Title': 'The Fellowship of the Ring (The Lord of the Rings, Part 1)',
  'Book-Author': 'J.R.R. TOLKIEN',
  'Image-URL-M': 'http://images.amazon.com/images/P/0345339703.01.MZZZZZZZ.jpg',
  'num_ratings': 368,
  'avg_rating': 4.95},
 26: {'Book-Title': "Harry Potter and the Sorcerer's Stone (Harry Potter (Paperback))",
  'Book-Author': 'J. K. Rowling',
  'Image-URL-M': 'http://images.amazon.com/images/P/059035342X.01.MZZZZZZZ.jpg',
  'num_ratings': 575,
  'avg_rating': 4.9},
 28: {'Book-Title': 'The Two Towers (The Lord of the Rings, Part 2)',
  'Book-Author': 'J.R.R. TOLKIEN',
  'Image-URL-M': 'http://images.amazon.com/images/P/0345339711.01.MZZZZZZZ.jpg',
  'num_ratings': 260,
  'avg_rating': 4.88},
 39: {'Book-Title': 'To Kill a Mockingbird',
  'Book-Author': 'Harper Lee',
  'Image-URL-M': 'http://images.amazon.com/images/P/0446310786.01.MZZZZZZZ.jpg',
  'num_ratings': 510,
  'avg_rating': 4.7},
 47: {'Book-Title': 'The Da Vinci Code',
  'Book-Author': 'Dan Brown',
  'Image-URL-M': 'http://images.amazon.com/images/P/0385504209.01.MZZZZZZZ.jpg',
  'num_ratings': 898,
  'avg_rating': 4.64},
 53: {'Book-Title': 'The Five People You Meet in Heaven',
  'Book-Author': 'Mitch Albom',
  'Image-URL-M': 'http://images.amazon.com/images/P/0786868716.01.MZZZZZZZ.jpg',
  'num_ratings': 430,
  'avg_rating': 4.55},
 55: {'Book-Title': 'The Catcher in the Rye',
  'Book-Author': 'J.D. Salinger',
  'Image-URL-M': 'http://images.amazon.com/images/P/0316769487.01.MZZZZZZZ.jpg',
  'num_ratings': 449,
  'avg_rating': 4.55},
 62: {'Book-Title': 'The Lovely Bones: A Novel',
  'Book-Author': 'Alice Sebold',
  'Image-URL-M': 'http://images.amazon.com/images/P/0316666343.01.MZZZZZZZ.jpg',
  'num_ratings': 1295,
  'avg_rating': 4.47},
 63: {'Book-Title': '1984',
  'Book-Author': 'George Orwell',
  'Image-URL-M': 'http://images.amazon.com/images/P/0451524934.01.MZZZZZZZ.jpg',
  'num_ratings': 284,
  'avg_rating': 4.45},
 72: {'Book-Title': 'Prodigal Summer: A Novel',
  'Book-Author': 'Barbara Kingsolver',
  'Image-URL-M': 'http://images.amazon.com/images/P/0060959037.01.MZZZZZZZ.jpg',
  'num_ratings': 253,
  'avg_rating': 4.45},
 73: {'Book-Title': 'Neverwhere',
  'Book-Author': 'Neil Gaiman',
  'Image-URL-M': 'http://images.amazon.com/images/P/0380789019.01.MZZZZZZZ.jpg',
  'num_ratings': 265,
  'avg_rating': 4.45},
 78: {'Book-Title': 'The Secret Life of Bees',
  'Book-Author': 'Sue Monk Kidd',
  'Image-URL-M': 'http://images.amazon.com/images/P/0142001740.01.MZZZZZZZ.jpg',
  'num_ratings': 774,
  'avg_rating': 4.45},
 84: {'Book-Title': 'Stupid White Men ...and Other Sorry Excuses for the State of the Nation!',
  'Book-Author': 'Michael Moore',
  'Image-URL-M': 'http://images.amazon.com/images/P/0060392452.01.MZZZZZZZ.jpg',
  'num_ratings': 283,
  'avg_rating': 4.36},
 85: {'Book-Title': "Tuesdays with Morrie: An Old Man, a Young Man, and Life's Greatest Lesson",
  'Book-Author': 'MITCH ALBOM',
  'Image-URL-M': 'http://images.amazon.com/images/P/0385484518.01.MZZZZZZZ.jpg',
  'num_ratings': 493,
  'avg_rating': 4.35},
 88: {'Book-Title': 'The Red Tent (Bestselling Backlist)',
  'Book-Author': 'Anita Diamant',
  'Image-URL-M': 'http://images.amazon.com/images/P/0312195516.01.MZZZZZZZ.jpg',
  'num_ratings': 723,
  'avg_rating': 4.33},
 89: {'Book-Title': "The Hitchhiker's Guide to the Galaxy",
  'Book-Author': 'Douglas Adams',
  'Image-URL-M': 'http://images.amazon.com/images/P/0671461494.01.MZZZZZZZ.jpg',
  'num_ratings': 268,
  'avg_rating': 4.33},
 98: {'Book-Title': 'Nickel and Dimed: On (Not) Getting By in America',
  'Book-Author': 'Barbara Ehrenreich',
  'Image-URL-M': 'http://images.amazon.com/images/P/0805063897.01.MZZZZZZZ.jpg',
  'num_ratings': 335,
  'avg_rating': 4.29},
 100: {'Book-Title': 'Into the Wild',
  'Book-Author': 'Jon Krakauer',
  'Image-URL-M': 'http://images.amazon.com/images/P/0385486804.01.MZZZZZZZ.jpg',
  'num_ratings': 252,
  'avg_rating': 4.27},
 103: {'Book-Title': 'Fahrenheit 451',
  'Book-Author': 'Ray Bradbury',
  'Image-URL-M': 'http://images.amazon.com/images/P/3257208626.01.MZZZZZZZ.jpg',
  'num_ratings': 409,
  'avg_rating': 4.26},
 116: {'Book-Title': 'Girl with a Pearl Earring',
  'Book-Author': 'Tracy Chevalier',
  'Image-URL-M': 'http://images.amazon.com/images/P/0452282152.01.MZZZZZZZ.jpg',
  'num_ratings': 526,
  'avg_rating': 4.22},
 117: {'Book-Title': 'Outlander',
  'Book-Author': 'DIANA GABALDON',
  'Image-URL-M': 'http://images.amazon.com/images/P/0440222915.01.MZZZZZZZ.jpg',
  'num_ratings': 283,
  'avg_rating': 4.17},
 123: {'Book-Title': "Where the Heart Is (Oprah's Book Club (Paperback))",
  'Book-Author': 'Billie Letts',
  'Image-URL-M': 'http://images.amazon.com/images/P/0446672211.01.MZZZZZZZ.jpg',
  'num_ratings': 585,
  'avg_rating': 4.11},
 124: {'Book-Title': 'Seabiscuit: An American Legend',
  'Book-Author': 'LAURA HILLENBRAND',
  'Image-URL-M': 'http://images.amazon.com/images/P/0449005615.01.MZZZZZZZ.jpg',
  'num_ratings': 275,
  'avg_rating': 4.1},
 126: {'Book-Title': 'Life of Pi',
  'Book-Author': 'Yann Martel',
  'Image-URL-M': 'http://images.amazon.com/images/P/0151008116.01.MZZZZZZZ.jpg',
  'num_ratings': 664,
  'avg_rating': 4.09},
 130: {'Book-Title': 'The Bean Trees',
  'Book-Author': 'Barbara Kingsolver',
  'Image-URL-M': 'http://images.amazon.com/images/P/0060915544.01.MZZZZZZZ.jpg',
  'num_ratings': 389,
  'avg_rating': 4.09},
 133: {'Book-Title': 'A Child Called \\It\\": One Child\'s Courage to Survive"',
  'Book-Author': 'Dave Pelzer',
  'Image-URL-M': 'http://images.amazon.com/images/P/1558743669.01.MZZZZZZZ.jpg',
  'num_ratings': 265,
  'avg_rating': 4.09},
 135: {'Book-Title': "ANGELA'S ASHES",
  'Book-Author': 'Frank McCourt',
  'Image-URL-M': 'http://images.amazon.com/images/P/0684874350.01.MZZZZZZZ.jpg',
  'num_ratings': 279,
  'avg_rating': 4.08},
 137: {'Book-Title': 'Good in Bed',
  'Book-Author': 'Jennifer Weiner',
  'Image-URL-M': 'http://images.amazon.com/images/P/0743418174.01.MZZZZZZZ.jpg',
  'num_ratings': 490,
  'avg_rating': 4.06},
 139: {'Book-Title': 'Fast Food Nation: The Dark Side of the All-American Meal',
  'Book-Author': 'Eric Schlosser',
  'Image-URL-M': 'http://images.amazon.com/images/P/0060938455.01.MZZZZZZZ.jpg',
  'num_ratings': 321,
  'avg_rating': 4.04},
 140: {'Book-Title': 'American Gods',
  'Book-Author': 'Neil Gaiman',
  'Image-URL-M': 'http://images.amazon.com/images/P/0380789035.01.MZZZZZZZ.jpg',
  'num_ratings': 302,
  'avg_rating': 4.01},
 141: {'Book-Title': 'Skipping Christmas',
  'Book-Author': 'JOHN GRISHAM',
  'Image-URL-M': 'http://images.amazon.com/images/P/0385505833.01.MZZZZZZZ.jpg',
  'num_ratings': 322,
  'avg_rating': 4.01},
 147: {'Book-Title': "Left Behind: A Novel of the Earth's Last Days (Left Behind No. 1)",
  'Book-Author': 'Tim Lahaye',
  'Image-URL-M': 'http://images.amazon.com/images/P/0842329129.01.MZZZZZZZ.jpg',
  'num_ratings': 318,
  'avg_rating': 4.0},
 149: {'Book-Title': 'The Golden Compass (His Dark Materials, Book 1)',
  'Book-Author': 'PHILIP PULLMAN',
  'Image-URL-M': 'http://images.amazon.com/images/P/037582345X.01.MZZZZZZZ.jpg',
  'num_ratings': 336,
  'avg_rating': 4.0},
 157: {'Book-Title': 'The Color Purple',
  'Book-Author': 'Alice Walker',
  'Image-URL-M': 'http://images.amazon.com/images/P/0671617028.01.MZZZZZZZ.jpg',
  'num_ratings': 314,
  'avg_rating': 3.96},
 163: {'Book-Title': 'Silence of the Lambs',
  'Book-Author': 'Thomas Harris',
  'Image-URL-M': 'http://images.amazon.com/images/P/0312924585.01.MZZZZZZZ.jpg',
  'num_ratings': 256,
  'avg_rating': 3.96},
 166: {'Book-Title': 'About a Boy',
  'Book-Author': 'Nick Hornby',
  'Image-URL-M': 'http://images.amazon.com/images/P/1573227331.01.MZZZZZZZ.jpg',
  'num_ratings': 262,
  'avg_rating': 3.9},
 173: {'Book-Title': 'Seven Up (A Stephanie Plum Novel)',
  'Book-Author': 'Janet Evanovich',
  'Image-URL-M': 'http://images.amazon.com/images/P/0312265840.01.MZZZZZZZ.jpg',
  'num_ratings': 278,
  'avg_rating': 3.89},
 175: {'Book-Title': 'The Alchemist: A Fable About Following Your Dream',
  'Book-Author': 'Paulo Coelho',
  'Image-URL-M': 'http://images.amazon.com/images/P/0062502174.01.MZZZZZZZ.jpg',
  'num_ratings': 266,
  'avg_rating': 3.88},
 177: {'Book-Title': 'Hard Eight : A Stephanie Plum Novel (A Stephanie Plum Novel)',
  'Book-Author': 'Janet Evanovich',
  'Image-URL-M': 'http://images.amazon.com/images/P/0312983867.01.MZZZZZZZ.jpg',
  'num_ratings': 269,
  'avg_rating': 3.83},
 182: {'Book-Title': "Suzanne's Diary for Nicholas",
  'Book-Author': 'James Patterson',
  'Image-URL-M': 'http://images.amazon.com/images/P/0316969443.01.MZZZZZZZ.jpg',
  'num_ratings': 457,
  'avg_rating': 3.82},
 186: {'Book-Title': 'Lord of the Flies',
  'Book-Author': 'William Gerald Golding',
  'Image-URL-M': 'http://images.amazon.com/images/P/0399501487.01.MZZZZZZZ.jpg',
  'num_ratings': 259,
  'avg_rating': 3.82},
 192: {'Book-Title': 'A Prayer for Owen Meany',
  'Book-Author': 'John Irving',
  'Image-URL-M': 'http://images.amazon.com/images/P/0345361792.01.MZZZZZZZ.jpg',
  'num_ratings': 413,
  'avg_rating': 3.8},
 194: {'Book-Title': 'The Vampire Lestat (Vampire Chronicles, Book II)',
  'Book-Author': 'ANNE RICE',
  'Image-URL-M': 'http://images.amazon.com/images/P/0345313860.01.MZZZZZZZ.jpg',
  'num_ratings': 301,
  'avg_rating': 3.78},
 195: {'Book-Title': "White Oleander : A Novel (Oprah's Book Club)",
  'Book-Author': 'Janet Fitch',
  'Image-URL-M': 'http://images.amazon.com/images/P/0316284955.01.MZZZZZZZ.jpg',
  'num_ratings': 356,
  'avg_rating': 3.77}}

Collaborative Filtering Based Recommender System

In [21]:
x = ratings_with_name.groupby('User-ID').count()['Book-Rating'] > 200
regular_users = x[x].index
regular_users

Index([   254,   2276,   2766,   2977,   3363,   4017,   4385,   6251,   6323,
         6543,
       ...
       271705, 273979, 274004, 274061, 274301, 274308, 275970, 277427, 277639,
       278418],
      dtype='int64', name='User-ID', length=811)

In [22]:
filtered_rating = ratings_with_name[ratings_with_name['User-ID'].isin(regular_users)]
filtered_rating

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
5,23768,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
7,28523,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
15,77940,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
16,81977,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
...,...,...,...,...,...,...,...,...,...,...
1030883,275970,1880837927,0,The Theology of the Hammer,Millard Fuller,1994,Smyth &amp; Helwys Publishing,http://images.amazon.com/images/P/1880837927.0...,http://images.amazon.com/images/P/1880837927.0...,http://images.amazon.com/images/P/1880837927.0...
1030884,275970,188717897X,0,The Ordeal of Integration: Progress and Resent...,Orlando Patterson,1998,Civitas Book Publisher,http://images.amazon.com/images/P/188717897X.0...,http://images.amazon.com/images/P/188717897X.0...,http://images.amazon.com/images/P/188717897X.0...
1030885,275970,1888889047,0,Pushcart's Complete Rotten Reviews &amp; Rejec...,Bill Henderson,1998,Pushcart Press,http://images.amazon.com/images/P/1888889047.0...,http://images.amazon.com/images/P/1888889047.0...,http://images.amazon.com/images/P/1888889047.0...
1030886,275970,1931868123,0,There's a Porcupine in My Outhouse: Misadventu...,Mike Tougias,2002,Capital Books (VA),http://images.amazon.com/images/P/1931868123.0...,http://images.amazon.com/images/P/1931868123.0...,http://images.amazon.com/images/P/1931868123.0...
1030887,275970,3411086211,10,Die Biene.,Sybil GrÃ?Â¤fin SchÃ?Â¶nfeldt,1993,"Bibliographisches Institut, Mannheim",http://images.amazon.com/images/P/3411086211.0...,http://images.amazon.com/images/P/3411086211.0...,http://images.amazon.com/images/P/3411086211.0...

In [23]:
y = filtered_rating.groupby('Book-Title').count()['Book-Rating']>=50
famous_books = y[y].index
famous_books

Index(['1984', '1st to Die: A Novel', '2nd Chance', '4 Blondes',
       'A Bend in the Road', 'A Case of Need',
       'A Child Called \It\": One Child's Courage to Survive"',
       'A Civil Action', 'A Day Late and a Dollar Short', 'A Fine Balance',
       ...
       'Winter Solstice', 'Wish You Well', 'Without Remorse',
       'Wizard and Glass (The Dark Tower, Book 4)', 'Wuthering Heights',
       'Year of Wonders', 'You Belong To Me',
       'Zen and the Art of Motorcycle Maintenance: An Inquiry into Values',
       'Zoya', '\O\" Is for Outlaw"'],
      dtype='object', name='Book-Title', length=706)

In [24]:
final_ratings = filtered_rating[filtered_rating['Book-Title'].isin(famous_books)]
final_ratings

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
63,278418,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
65,3363,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
66,7158,0446520802,10,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
69,11676,0446520802,10,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
74,23768,0446520802,6,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
...,...,...,...,...,...,...,...,...,...,...
1026724,266865,0531001725,10,The Catcher in the Rye,Jerome David Salinger,1973,Scholastic Library Pub,http://images.amazon.com/images/P/0531001725.0...,http://images.amazon.com/images/P/0531001725.0...,http://images.amazon.com/images/P/0531001725.0...
1027923,269566,0670809381,0,Echoes,Maeve Binchy,1986,Penguin USA,http://images.amazon.com/images/P/0670809381.0...,http://images.amazon.com/images/P/0670809381.0...,http://images.amazon.com/images/P/0670809381.0...
1028777,271284,0440910927,0,The Rainmaker,John Grisham,1995,Island,http://images.amazon.com/images/P/0440910927.0...,http://images.amazon.com/images/P/0440910927.0...,http://images.amazon.com/images/P/0440910927.0...
1029070,271705,B0001PIOX4,0,Fahrenheit 451,Ray Bradbury,1993,Simon &amp; Schuster,http://images.amazon.com/images/P/B0001PIOX4.0...,http://images.amazon.com/images/P/B0001PIOX4.0...,http://images.amazon.com/images/P/B0001PIOX4.0...
1030868,275970,1586210661,9,Me Talk Pretty One Day,David Sedaris,2001,Time Warner Audio Major,http://images.amazon.com/images/P/1586210661.0...,http://images.amazon.com/images/P/1586210661.0...,http://images.amazon.com/images/P/1586210661.0...

In [25]:
pt = final_ratings.pivot_table(index='Book-Title',columns='User-ID',values='Book-Rating')

In [26]:
pt.fillna(0,inplace=True)

In [27]:
pt

User-ID,254,2276,2766,2977,3363,4017,4385,6251,6323,6543,...,271705,273979,274004,274061,274301,274308,275970,277427,277639,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Bend in the Road,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0

In [28]:
from sklearn.metrics.pairwise import cosine_similarity

In [29]:
similarity_scores = cosine_similarity(pt)

In [30]:
similarity_scores.shape

(706, 706)

In [31]:
def recommend(book_name):
    # index fetch
    index = np.where(pt.index==book_name)[0][0]
    similar_items = sorted(list(enumerate(similarity_scores[index])),key=lambda x:x[1],reverse=True)[1:5]
    
    data = []
    for i in similar_items:
        item = []
        temp_df = books[books['Book-Title'] == pt.index[i[0]]]
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Title'].values))
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Author'].values))
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Image-URL-M'].values))
        
        data.append(item)
    
    return data

In [32]:
recommend('1984')

[['Animal Farm',
  'George Orwell',
  'http://images.amazon.com/images/P/0451526341.01.MZZZZZZZ.jpg'],
 ["The Handmaid's Tale",
  'Margaret Atwood',
  'http://images.amazon.com/images/P/0449212602.01.MZZZZZZZ.jpg'],
 ['Brave New World',
  'Aldous Huxley',
  'http://images.amazon.com/images/P/0060809833.01.MZZZZZZZ.jpg'],
 ['The Vampire Lestat (Vampire Chronicles, Book II)',
  'ANNE RICE',
  'http://images.amazon.com/images/P/0345313860.01.MZZZZZZZ.jpg']]

In [33]:
import pickle

In [34]:
pickle.dump(popular_books,open('popular_books.pkl','wb'))

In [35]:
books.drop_duplicates('Book-Title')

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...
...,...,...,...,...,...,...,...,...
271354,0449906736,Flashpoints: Promise and Peril in a New World,Robin Wright,1993,Ballantine Books,http://images.amazon.com/images/P/0449906736.0...,http://images.amazon.com/images/P/0449906736.0...,http://images.amazon.com/images/P/0449906736.0...
271356,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...
271357,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...
271358,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...
271359,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...

In [36]:
pickle.dump(pt,open('pt.pkl','wb'))
pickle.dump(books,open('books.pkl','wb'))
pickle.dump(similarity_scores,open('similarity_scores.pkl','wb'))